.container.footer{
    background-color: gray;
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    max-width: 100%;
}
.footer-items {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

.footer-text {
    font-size: 14px;
}

.container.subscribe-box {
    background-color: rgb(110, 110, 110);
    max-width: 100%;
    padding: 15px;
}

.btn.subscribe-btn {
    color: white;
    background-color: rgba(0,0,0,0);
    border:none;
    border-radius: 0%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.btn.subscribe-btn:hover {
    color: #710E1D;
    background-color: #D9D9D9;
}

#formBasicEmail.email-box {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    max-width: 100%;
    border-radius: 0%;
}

#formBasicEmail.email-box::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
}


