.btn.submit-btn {
    font-family:'Raleway',sans-serif; 
    color: #fff;
    background-color: #710E1D;
    border:none;
}

.form-control.form-control {
    border-radius: 0%;
}

p.form-title {
    font-family:'Raleway',sans-serif; 
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.extend-height {
    min-height: calc(100vh - 205px);
}

#info {
    background-color: #710E1D;
}

#infoLabel {
    color:white;
    font-family: 'Raleway';
    letter-spacing: 3px;
    font-weight: 600;
}
